---
layout: base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.title }}</h1>
      {% if home.subtitle %}
        <p class="hero__subtitle">{{ home.subtitle }}</p>
      {% endif %}
      <hr>
      <div class="social">
        <p>
        <a href="//github.com/emdupre" title="Fork me on GitHub" class=github>
        <i class="fab fa-github fa-2x"></i></a>

        <a href="//twitter.com/emdupre_" title="Follow me on Twitter" class=twitter>
        <i class="fab fa-twitter fa-2x"></i></a>

        <a href="//neuromatch.social/@emdupre" title="Follow me on Mastodon" class=mastodon>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 18 14">
          <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
        </svg></a>

        <a href="//orcid.org/0000-0003-1358-196X" title="View my ORCID profile" class=orcid>
        <i class="ai ai-orcid ai-2x"></i></a>

        <a href="//scholar.google.ca/citations?user=9FzK0bcAAAAJ&hl=en" title="View my Google Scholar profile" class=google>
        <i class="ai ai-google-scholar ai-2x"></i></a>

        <a href="//linkedin.com/in/elizabeth-dupre/" title="View my LinkedIn profile" class=linkedin>
        <i class="fab fa-linkedin-in fa-2x"></i></a>

        </p>
      </div>
    </div>
    <div class="hero__col">
      <img
        class="hero__image shadow"
        src="{% if home.image %}{{ home.image }}{% else %}https://source.unsplash.com/random/600x600{% endif %}"
        alt="{{ home.image_alt }}"
        width="1000px"
        height="1000px"
        loading="lazy">
    </div>
  </div>

</div>
